
  	<div class="col-sm-3 col-md-2 tabbable tabs-left">
          <ul class="nav nav-pills nav-stacked col-md-8">
          	<% if user_signed_in? %>
			  
				
			   	<li > <%= link_to "View Books", '/books'  %></li>
			   	<li></li>
				<li></li>
				<li></li>
			
            
			<% end %>
          </ul>

</div>

        